.he{
    color: yellow;
}

#he1{
    color: pink;
    position: absolute;
    top: 100px;
    left: 100px;
}

h4, .he{
    color: green;
}

*{
    font-weight: bolder;
}

form > h4{

}

button[type]

form{
    position: relative;
}